html, body {
    height: 100%;
  }
  
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100dvh; 
    background-color: #fafafa;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 4px;
    padding-inline: 16px;
  }
  
  .status-icons {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  
  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
  }
  
  h1 {
    color: #13085E;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -0.5px;
    text-align: center;
  }

  p {
    font-size: 14px;
    text-align: center;
  }
  
  button {
    background-color:#2C14DD;
    font-size: 16px;
    align-self: center;
    width: 90%;
    height: 7%;
    color:#FCFCFC;
    border-radius: 100px;
    margin: 20px;
  }
  
  footer {
    display: flex;
    justify-content: center;
    padding: 8px;
  }
  